/* config css geralzão */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variaveis de cores para serem chamadas no código */
:root{
    --branco: #ffffff;
}

/* tirar o aspecto de link do a */
a {
    text-decoration: none;
}